@media (max-width: 749px) {
    .footer{
        width: 600px;
        margin: 0 auto;
        position: relative;
    }
    .footerImg{
        width:600px;
    }
}


@media (min-width: 750px) {
    .footer{
        width: 900px;
        margin: 0 auto;
        position: relative;
    }
    .footerImg{
        width:900px;
    }
    .footerText{
        font-family: 'Lato', sans-serif;
        font-size:72px;
    }

    .footerButton{
        position: absolute;
        right:200px;
        bottom:40px;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: .1em white solid;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        width:130px;
        height: 35px;
    }
    .buttonP{
            font-family: 'Lato Thin', sans-serif;
            font-size: 8pt;
            color:white
    }

    .arrow {
        margin-bottom: 2px;
        width: 0.2em;
        height: 0.2em;
        border-right: 0.1em solid white;
        border-top: 0.1em solid white;
        transform: rotate(45deg);
        display: inline-block;
    }
}


@media (min-width: 1200px) {
    .footer{
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    .footerImg{
        width:1200px;
    }
    .footerText{
        font-family: 'Lato', sans-serif;
        font-size:72px;
    }

    .footerButton{
        position: absolute;
        right:265px;
        bottom:40px;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: .1em white solid;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        width:175px;
        height: 50px;
    }
    .buttonP{
            font-family: 'Lato Thin', sans-serif;
            font-size: 12pt;
            color:white
    }

    .arrow {
        margin-bottom: 2px;
        width: 0.2em;
        height: 0.2em;
        border-right: 0.1em solid white;
        border-top: 0.1em solid white;
        transform: rotate(45deg);
        display: inline-block;
    }
}


@media (min-width: 1768px) {
    .footer{
        width: 1751px;
        margin: 0 auto;
        position: relative;
    }
    .footerImg{
        width:1751px;
    }
    .footerText{
        font-family: 'Lato', sans-serif;
        font-size:72px;
    }

    .footerButton{
        position: absolute;
        right:385px;
        bottom:60px;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: .1em white solid;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        width:250px;
        height: 75px;
    }
    .buttonP{
            font-family: 'Lato Thin', sans-serif;
            font-size: 16pt;
            color:white
    }

    .arrow {
        margin-bottom: 3px;
        width: 0.3em;
        height: 0.3em;
        border-right: 0.1em solid white;
        border-top: 0.1em solid white;
        transform: rotate(45deg);
        display: inline-block;
    }
}
